@model List<CadAlunoTorloni.Models.Fruta>

<h1>Pagina Frutas</h1>

<h2>Lista De Frutas</h2>

@foreach ( var fruta in Model ) {
<p>
    Id: @fruta.Id <br>
    Nome: @fruta.Nome <br>
    Cor: @fruta.Cor <br>
    Categoria: @fruta.Categoria <br>
</p>
}