@{
    ViewData["Title"] = "DevConnect - perfil";
}
<link rel="stylesheet" href="~/css/perfil.css">
    <nav>
        <a id="logo-desktop" href="./feed.html">
            <img src="../images/Componente logotipo preto medio .svg" alt="logo da empresa"> </a>

        <a id="logo-mobile" href="./feed.html">
            <img src="../images/Componente logotipo preto mobile .svg" alt="logo da empresa"> </a>


        <div class="cabecalho-acoes">

            <a href="#">
                <img src="../images/icone-casa-preto.svg" alt="">
            </a>

            <a href="#">
                <img src="../images/icone-coracao-preto.svg" alt="">
            </a>

            <a href="#">
                <img class="foto-perfil" src="../images/Lewisjapan.jpg" alt="">
            </a>
        </div>

    </nav>
</header>
  <!-- Perfil -->
   <header>
       <section class="perfil">
           <img src="../images/Lewisjapan.jpg" alt="Foto de Perfil" class="perfil-pic"> 
           <div class="perfil-info">
               <h2>Lewis</h2>
               <p>1.571 publicações • 40,4 mi seguidores • 1 seguindo</p>
               <h3>Lewis Hamilton 🐐</h3>
               <div class="botao">
                   <button class="editar">Editar perfil</button>
                   <button class="sair">Sair</button>
                </div>
            </div>
        </section>
    </header>

  <!-- Publicações -->
  <section class="publicacoes">
    <h2><img src="../images/icone-galeria-preto.svg" alt="">Publicações</h2>

    <div class="publicacoes1">
      <h3>Lewis</h3>
      <p>Dedicato a Niki!</p>
      <div class="publicacoes-info">
        <span><img src="../images/icone-coracao-preto 2.svg" alt=""></span>
        <span><img src="../images/icone-comentario-preto.svg" alt=""> 68k</span>
      </div>
      <a href="#">Ver todos os comentários</a>
    </div>

    <div class="publicacoes2">
      <h3>Lewis</h3>
      <p>I’m always so grateful for this time, for the opportunity to rest and recharge. There’s a lot I’ve been meditating on. Every one of us is up against so much, both individually and globally. It’s so important that we embrace the light of truth and love and take care of ourselves so that we can better take care of others. We can’t look away. We have to keep going, even when it’s difficult ~
    </p>
      <div class="publicacoes-info">
        <span><img src="../images/icone-coracao-preto 2.svg" alt=""></span>
        <span><img src="../images/icone-comentario-preto.svg" alt=""> 57k</span>
      </div>
      <a href="#">Ver todos os comentários</a>
    </div>