@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa politica de privacidade e assim, assim e assado.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias neque incidunt rerum provident at et. Quaerat dignissimos cumque nam, fugiat aliquid, rem sint placeat alias nesciunt error sapiente suscipit recusandae.</p>
