@{
    ViewData["Title"] = "DevConnect - Usuario";
}
<link rel="stylesheet" href="~/css/cadastro.css">
<h1>Página Usuario</h1>

    <h1>Tela principal login - DevConnect</h1>
    <main>
        <div>
            <!--formulario-->
            <form id="formulario" class="estilo-formulario">
                <img src="/images/Componente logotipo preto medio .svg" alt="" style="
                width: 100%;">

                  <div>
                      <label for="">Nome e Sobrenome:</label>
                      <input type="text" name="" id="">
                    </div>
                    
                  <div>
                      <label for="">Nome de Usuario:</label>
                      <input type="text" name="" id="">
                    </div>
                    
                    <div>
                        <label for="">E-mail:</label>
                        <input type="email" name="" id="">
                    </div>
                    
                    <div>
                        <label for="">Senha:</label>
                        <input type="password" name="" id="">
                    </div>
                    <div>
                        <label for="file" class="btn-upload">Fazer upload da imagem</label>
                        <input type="file" id="file" hidden>
                    </div>
                    

                <button type="submit" class="formulario-botao-azul">Cadastra</button>
                

            </form>

            <!--seção de cadastro-->
            <section id="secao-cadastro" class="estilo-formulario">
                <p>Já possui uma conta? <a href="../pages/index.html">Conectar-se</a></p>
            </section>



        </div>
    </main>