@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

:root{
    --cor-preto: #100C08;
    --cor-roxo-escuro: #32127A;
    --cor-roxo-claro: #9400D3;
    --cor-roxo-medio: #663399;
    --cor-branco: #FFFFFF;
    --cor-cinza: #c8c8c8;
    --cor-branco-medio:E5E5E5

    --borda: 1px solid var(--cor-preto);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;

}


/*SELOTOR GLOBAL*/
*{
    font-family: "Akaya Telivigala", system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*O valor total do tamanho do elemento contra tanto com espaços interno/externo e as bordas*/
    outline-color: var(--cor-roxo-medio);
}

    
body{
background-color: var(--cor-cinza);
}

h1{
position: absolute;
z-index: -1;/**camadas do elemento*/
opacity: 0;
}
/*formulario*/

.estilo-formulario {
  border: var(--borda);
  background-color: var(--cor-branco);
}
input{
width: 100%; 
height: 35px;
border: var(--borda);
background-color: var(--cor-branco);
}
  .formulario-botao-azul{
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondamento);
    border: none;/*Removendo borda*/
    height: 35px;
    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 500;
  }

  /*cabeçalho*/
  #cabecalho {
    width: 100%; /*100% da janela de visualização*/
    height: 80px;
    background-color: var(--cor-branco);
    display: flex;
   justify-content: center;
   border-bottom: 1px solid var(--cor-preto)
 }

  #cabecalho > nav{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--borda);
}

.cabecalho-acoes{
  display: flex;
  align-items: center;
  gap: 15px;
}

#logo-mobile{
  display: none;
}

.cabecalho-acoes > a{
  display: flex;
  align-items: center;
}

.foto-perfil{
  width: 40px;
  height: 40px;
  object-fit: cover; /*redimensona a foto*/
  object-position: center;
  border-radius: 50%;
}
/*RESPONSIVO*/
@media only screen and (max-width: 485px) {
   #logo-mobile{
    display: initial;
   }
   #logo-desktop{
    display: none;
   }
}

    
body{
background-color: var(--cor-cinza);
}

h1{
position: absolute;
z-index: -1;/**camadas do elemento*/
opacity: 0;
}
/*formulario*/

.estilo-formulario {
  border: var(--borda);
  background-color: var(--cor-branco);
}
input{
width: 100%; 
height: 35px;
border: var(--borda);
background-color: var(--cor-branco);
}
  .formulario-botao-azul{
    background-color: var(--cor-roxo-claro);
    border-radius: var(--borda-arredondamento);
    border: none;/*Removendo borda*/
    height: 43px;
    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 500;
  }


  #campo-upload {
    display: none;
}

#texto-upload {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 43px;
    padding: 5px 5px;
    background-color: var(--cor-cinza);
    color: var(--cor-preto);
    text-align: center;
    font-weight: 600;
    border-radius: var(--borda-arredondada);
}
  /*cabeçalho*/
  #cabecalho {
    width: 100%; /*100% da janela de visualização*/
    height: 80px;
    background-color: var(--cor-branco);
    display: flex;
   justify-content: center;
   
  }

  #cabecalho > nav{
    width: 85%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--borda);
}

.cabecalho-acoes{
  display: flex;
  align-items: center;
  gap: 15px;
}

#logo-mobile{
  display: none;
}

.cabecalho-acoes > a{
  display: flex;
  align-items: center;
}

#foto-perfil{
  width: 40px;
  height: 40px;
  object-fit: cover; /*redimensona a foto*/
  object-position: center;
  border-radius: 50%;
}
/*RESPONSIVO*/
@media only screen and (max-width: 485px) {
   #logo-mobile{
    display: initial;
   }
   #logo-desktop{
    display: none;
   }
}


