main {

    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

main>header {

    display: flex;
    align-items: center;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: var(--borda);
}

/* Navbar */
.navbar {
    background-color: var(--cor-azul);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.perfil-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* Perfil */
.perfil {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    
}

.perfil-pic {
    width: 170px;
    height: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.perfil-info h2 {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.perfil-info p {
    margin: 5px 0;
}

.botao {
    margin-top: 10px;
}

.editar,
.sair {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editar {
    background-color: var(--cor-roxo-medio);
    color: white;
    margin-right: 10px;
}

.sair {
    background-color: var(--cor-roxo-medio);
    color: white;
}

/* Publicações */
.publicacoesicone {
    margin-bottom: 20px;
    font-size: 22px;
    color: var(--cor-cinza-claro);
    display: flex;
    justify-content: center;
}

.publicacoes1 {
    background-color: var(--cor-branco);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border:  1px solid var(--cor-preto);
    border-radius: var(--borda-arredondada);

}
.publicacoes2 {
    background-color: var(--cor-branco);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border:  1px solid var(--cor-preto);
}


.publicacoes2 {
    background-color: var(--cor-branco);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.publicacoes2 > h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.publicacoes2 > p {
    margin-bottom: 10px;
}

.publicacoes-info {
    display: flex;
    gap: 15px;
    margin-bottom: 8px;
    font-size: 14px;
}
.publicacoes > h2{
    display: flex;
    justify-content: center;
}
.publicacoes1 > a {
    font-size: 14px;
    text-decoration: none;
}
.publicacoes2 > a {
    font-size: 14px;
    text-decoration: none;
}

#cabecalho {
    width: 100%; /*100% da janela de visualização*/
    height: 80px;
    background-color: var(--cor-branco);
    display: flex;
    justify-content: center;
   
  }

  #cabecalho > nav{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--borda);
}
